#generator-form{
	margin: 10px;
}

#form-corpus{
	float: left;
	width: 650px;
}

#generator-result{
	float: left;
	margin: 10px;
	margin-top: 45px;
}

#preview{
   background-color:#eee;
   border: 1px solid #888;
   border-radius:3px;
   padding: 7px;
}